body {
  background-image: linear-gradient(rgb(165, 165, 164), rgb(5, 5, 5));
  margin: 0;
}
.comunitychat {
  border-radius: 20px;  
}

.Chathead {
  display: flex;
  margin: auto;
  justify-content: center;
  height: 50px;
}

.container {
  max-width: 955px;
  background-image: linear-gradient(
    rgb(49, 48, 48),
    rgb(8, 7, 7),
    rgba(160, 160, 160, 0.43)
  );
  margin: auto;
  height: 81vh;
  border: 2px solid rgb(174, 171, 168);
  border-radius: 10px;
  margin-bottom: 5px;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.message {
  background-color: rgb(218, 213, 213);
  width: 24%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid gray;
  margin: 17px 12px;
}
.left {
  clear: both;
  float: left;
}
.right {
  clear: both;
  float: right;
}

#messageInp {
  width: 89%;
  padding: 5px;
  height: 25px;
  color: white;
  font-weight: 500;
  background-color: rgba(40, 40, 40, 0.772);
  border-radius: 10px;
  border: 1px solid white;
  font-size: medium;
  font-family: sans-serif;
  
}
.btn {
  margin: 2px;
  padding: 12px;
  color: white;
  font-weight: 500;
  border: 1px solid white;
  background-color: #3d3d3d;
  width: 61px;
  height: 38px;
  border-radius: 10px;
}
